.alert {
    padding: 10px; /* Padding for spacing inside the message box */
    margin-bottom: 15px; /* Margin at the bottom to create space between the message and other content */
    border-radius: 4px; /* Rounded corners for a softer look */
}

.alert.success {
    color: #3c763d;
    border: 1px solid #3c763d;
    background-color: #dff0d8;
}

.alert.error {
    color: red;
    border: 1px solid red;
    background-color: #ffdede;
}

.alert.info {
    color: rgb(77, 103, 190);
    border: 1px solid rgb(77, 103, 190);
    background-color: #d0e1f5;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    
}
.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

.search-bar button {
    width: 30;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
