<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/shelf">UserShelf</a></li>
            <li><a href="/search">Search</a></li>
            <li class="logout"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- Display book details -->
    <div class="book-details">
        <h1>Book Details</h1>
        <div>
        <!-- Display each detail of the book -->
            <p>ISBN: {{ book_details[0] }}</p>
            <p>Title: {{ book_details[1] }}</p>
            <p>Author: {{ book_details[2] }} {{ book_details[3] }}</p>
            <p>Date Published: {{ book_details[4] }}</p>
            <p>Page Count: {{ book_details[5] }}</p>
            <p>Average Review: {{ book_details[6] }}</p>
            
            <!-- Form for adding/removing review -->
            <div class="review">
                <form action="/add_review" method="post">
                    <input type="hidden" name="book_id" value="{{ book_details.id }}">
                    <button type="submit">Add Review</button>
                </form>
            </div>
            <!-- Form for adding/removing tags -->
            <div class="tag">
                <form action="/add_tag" method="post">
                    <input type="hidden" name="book_id" value="{{ book_details.id }}">
                    <input type="text" name="tag" placeholder="Enter tag">
                    <button type="submit">Add Tag</button>
                </form>
            </div>
            <!-- Form for adding to list -->
            <div class="add-to-list">
                <form action="/add_to_list" method="post">
                    <input type="hidden" name="book_id" value="{{ book_details.id }}">
                    <select name="list_id">
                        {% for list in user_lists %}
                            <option value="{{ list.id }}">{{ list.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Add to List</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
