<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestreads</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/shelf">UserShelf</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </nav>
</header>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <!-- Welcome message -->
    <h1>Welcome to Bestreads</h1>

    <!-- The three random books chosen from the database -->
    <!-- Code for listing books -->
    <h2>Recommended Books</h2>
    <ul>
        {% for book in recommended_books %}
        <li>
            <!-- Ensure the correct index is used for each element -->
            <img src="{{ url_for('static', filename='covers/' + book[3] + '.jpg') }}" alt="{{ book[0] }} cover">
            <!-- Display book title, author first name, and author last name -->
            <p><a href="{{url}}/bookview/{{ book[3] }}"> {{ book[0] }}</a></p>
            <p>Author: {{ book[1] }} {{ book[2] }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>