<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ list_info[1] }}</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/shelf">UserShelf</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<body>
    <!-- Show error or success messages if there are any -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Check to see if there are any messages to show -->
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   
    <h2>{{ list_info[1] }}</h2>
    <!--Display error message if no items in list-->
    {% if list != [] %}
    <ul>
        {% for book in list %}
        <!-- FIXME once view fixed; make link into book; add png; uncomment loop; grab each book, select query etc so adjust variables and indexes -->
        <div>
            <img src= " {{url_for('static', filename='covers/' + book[0] + '.jpg')}}" alt="{{ book[1] }} cover">
            <br>
            <a href="{{url}}/bookview/{{book[0]}}">{{ book[1] }}</a>
            <br>
            {{ book[2] }} {{ book[3] }}
            <br><br>
        </li>
        {% endfor %}
    </ul>


    {% else %}
        <h3>Hmm, it looks like you don't have any books in this list.</h3>
        <!--Back button-->
        <a href="javascript:history.go(-1)">Back</a>
        <br><br>
    {% endif %}   

    <form action="/delete" method="post">
        <input type="hidden" id="oldlistname" name="oldlistname" value= "{{list_info[0]}}">
        Click here to delete your entire list permanently: <input type="submit" value="Delete list">
    </form>
    Warning: this action cannot be undone.
    
</body>
</html>

